body{
    margin: 0;
}
.header{
    margin: 0;
    background-color: aqua;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
}



